@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
body {
    font-family: Comfortaa;
    font-size: 14px;
    background-image: url(imagenes/fondo.png);
    background-attachment: fixed;
    border: 0px;
    border-radius: 0px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    color: rgb(255, 241, 243);
}
.titulo {
    font-size: 18px;
    color: #fc82b5;
    text-align: center;
}
.header{
    width: 900px;
    margin: 8px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
}
.logo{
    width: 25%;
    align-items: center
}

.menu-principal{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center
}
.menu-elemento {
    cursor: pointer
}
.menu-elemento:hover{
    color: #fc82b5;
}
#menuIndice {
    color: #fc82b5;
}
.imagen{
    border: 1px solid;
    border-radius: 500px;
    width: 37%;
}

.contenido{
    display: flex;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 2%;
    flex-wrap: wrap;
    max-width: 90%;
}

.intermedio{
    background-color: rgb(78, 73, 73);
    padding: 150px;
    margin-top: 50px;
}

.footer {
    display: flex;
    width: 900px;
    padding: 1%;
    justify-content: space-between;
    margin: 0 auto; 
    margin-top: 5%;
    max-width: 90%;
    flex-wrap: wrap
}

p {
    margin: 0 !important;
}

.copy{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-elemento {
    display: flex;
    flex-direction: column
}

a {
    text-decoration: none;
    color:  #ffb9d6;
}
a:hover {
    text-decoration: none;
    color: rgb(252, 130, 181);
}

@media (max-width: 700px) {
    .contenido {
        flex-direction: column;
        margin: 0 auto;
    }
    .header {
        flex-direction: column;
    }
    .menu-principal{
        margin: 0 auto;
    }
    .logo {
        margin: 0 auto;
    }
    .menu-principal {
        width: 80%
    }
    .imagen {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}